<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/style.css">
    <a href="https://icons8.com/icon/85701/chat"></a>
    <title>Component</title>
</head>
<body>
  
    <div class="container">
      <form action="welcome.html" onsubmit=" return validate() ">
        <div class="input-field">
            <input type="text" placeholder="Username" id="uname" autocomplete="nope">
          </div>
          <div class="input-field">
            <input type="password" placeholder="Password" id="pass" autocomplete="new-password">
        </div>
        <button class="button" role="button"><span class="text">Submit</span></button>
      </form>
    <div class="row1">
            <label>
              <input type="checkbox" class="option-input checkbox" checked />
              Checkbox
            </label>
            <label>
              <input type="checkbox" class="option-input checkbox" />
              Checkbox
            </label>
            <label>
              <input type="checkbox" class="option-input checkbox" />
              Checkbox
            </label>
        </div>
        <div class="row">
            <label>
              <input type="radio" class="option-input radio" name="example" checked />
              Radio1
            </label>
            <label>
              <input type="radio" class="option-input radio" name="example" />
              Radio2
            </label>
            <label>
              <input type="radio" class="option-input radio" name="example" /> Radio3
            </label>
          </div>
        <div class="dropdown">
          <label for="options">Choose a dropdown:</label>
            <select name="options" id="options">
                <option value="option1">Option1</option>
                <option value="option2">Option2</option>
                <option value="option3">Option3</option>
                <option value="option4">Option4</option>
            </select>
        </div>
    </div>
    <div class="chat"><img src="https://img.icons8.com/material-outlined/24/000000/chat--v1.png"/> </div>
    <script src="/javascript/script.js" ></script>
</body>
</html>