*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    width: 100%;
    padding: 14px 0;
    /* position:fixed; */
    background-color: #fff;
    /* z-index: 999; */
    
}
nav{
    position:sticky;
    z-index: 1;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}
.menus{
    flex: 1;
    text-align: center;
}
.menus ul li{
    list-style: none;
    display: inline-block;
    padding-right: 30px;
}
.menus ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 0;
}
.arrow-icon {
    position: relative;
    width: 13px;
    top: 3px;
    margin: 0 10px;
    opacity: .8;
}
.dropdown-menu{
    position: absolute;
    top: 60px;
    left: 20%;
    /* display: block; */
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: .75rem;
    box-shadow:0 2px 30px rgb(28 40 51 / 10%);
    -webkit-border-radius: 12px;
    padding: 10px;
    /* opacity:0; */
    display: none;
    width: 800px;
    height: 500px;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
}
.login-links ul li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
.hoverblue{
    color:rgb(0, 0, 0);
    text-decoration: none;
    
}
.border-line-btn{
    color: #0096e3;
    text-decoration: none;
}
.hoverblue:hover{
    color: #0096e3;
    transition: .2s;
}
.border-line-btn::after {
    content: '';
    position: relative;
    top: 5px;
    display: block;
    width: 100%;
    height: 3px;
    background: #0096e3;
    transition: width .3s;
}

.border-line-btn:hover::after {
    width: 0;
}

/* Banner */
.banner{
    padding: 100px 0 130px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.banner-center{
    padding: 0 140px;
}
.heading-h5 {
    font-weight: 600;
    color: #1c2833;
    font-size: 16px;
}
.top-heading{
    margin: 15px auto 0;
    font-size: 55px;
}
.sub-context-container{
    display: block;
    margin-top: 50px;
}
.post-selection-btn{
    width: 300px;
    height: 60px;
    padding: 20px;
    margin: 0 auto;
    background-color: #0096e3;
    border-radius: 8px;
}
.post-selection-btn:hover{
    opacity: .9;
    transition: .2s;
}
.post-selection-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.post-selection-btn a img{
    position: relative;
    top: 2px;
    left: 5px;
}
.sub-context-container p{
    display: block;
    margin: 1em 0 0;
    font-size: 14px;
    color: #1c2833;
}
.sub-banner{
    margin-top: 100px;
}
h3{
    margin: 25px auto 0;
    font-weight: 400;
    color: #1c2833;
    line-height: 34px;
    font-size: 22px;
}
.customer-highlights > p {
    padding-top: 130px;
    font-size:26px ;
    font-weight: 600;
}
/* award image */
.award-image ul {
    display: flex;
    list-style-type:none;
    justify-content: center;
    margin-top: 25px;
}
.award-image ul li{
    margin: 25px;
}
/* Table */
.heading-h4{
    margin: 90px auto 0;
    text-align: center;
    max-width: 840px;
    font-size: 20px;
    color: #1c2833;
    font-weight: 400;
    line-height: 34px;
}
.content-table{
    margin-top: 60px;
}

.content-table tr th {
    font-size: 20px;
    font-weight: 700;
    width: 33.33%;
    padding: 13px 15px;
}
.content-table tr td:nth-child(2) p:before {
    content: url(/icons/old-way.svg);
    position: absolute;
    left: 0;
    top: 6px;
}
.content-table tr td:nth-child(3) p:before {
    content: url(/icons/supercourcing-icon.svg);
    position: absolute;
    left: 0;
    top: 6px;
}
tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
    font-family: 'Poppins', sans-serif;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align:left;
}
.content-table tr td:first-child, .content-table tr th:first-child {
    position: sticky;
    left: 0;
    background: #fff;
    border-right: none;
    z-index: 9;
}
.content-table tr td , .content-table tr th {
    color: #1c2833;
    line-height: 26px;
    background: #f3f4f8;
    border-right: 18px solid #fff;
    text-align: left;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    text-indent: initial;
    border-spacing: 2px;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.content-table tr td {
    font-size: 16px;
    font-weight: 600;
    padding: 17px 15px;
    vertical-align: top;
}
.content-table tr td p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-left: 26px;
    font-size: 16px;
    position: relative;
    margin: 8px 0 0;
    text-align: justify;
}
.content-table tr td:nth-child(3) p span {
    color: #0096e3;
    font-weight: 600;
}
.content-table tr td:nth-child(2) p span {
    color: #e25241;
    font-weight: 600;
}
.btn-see-more{
    font-family: 'Poppins',sans-serif;
    border-style: none;
    background: #fff;
    margin-top: 30px;
    color: #00a8ff;
    font-size: 16px;
    font-weight: 600;
}
.btn-see-more svg{
    position: relative;
    left: 6px;
    top: 6px;
    width: 10px;
    height: 20px;
}
/* Scrolling banner */
.scrolling-pics{
    padding: 100px 0;
    background: #f3f4f8;
    overflow: hidden;
}
/* .container-normal{
    display: flex;
    flex-wrap: wrap;
} */
.heading-scroll{
    font-size: 26px;
    font-weight: 700;
    /* color: #1c2833; */
    text-align: center;
}
.auto-scroll{
    display: flex;
    margin-top: 30px;
    /* width: 100%; */
    width: 35000px; 
    animation: imageslide 23s linear infinite;
}
  @keyframes imageslide {
    100% { 
      /* transform: translateX(-66.6666%);   */
      transform: translate3d(-1237px, 0px, 0px);
    }
  }
  .auto-scroll-2{
    display: flex;
    margin-top: 30px;
    width: 35000px; 
    animation: imageslide1 30s linear infinite;
  }
  @keyframes imageslide1 {
    100% { 
      transform: translate3d(-991px, 0px, 0px);
    }
  }

.figure{
    margin: 8px;
    column-gap: 2rem;
}
figure {
    background: #fff;
    width: 230px;
    height: 98px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
figure  img{
    width: 120px;
}

.scroll-btm-txt{
    margin-top: 3rem;
    text-align: center;
}
.scroll-btm-btn{
    text-decoration: none;
    color: #00a8ff;
    padding: 2px 0 5px;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    position: relative;
}
.scroll-btm-btn::after {
    content: '';
    position: relative;
    top: 5px;
    display: block;
    width: 100%;
    height: 3px;
    background: #00a8ff;
    transition: all .3s ease-in-out;
}
.scroll-btm-btn:hover::after {
    width: 0;
}
.scroll-btm-btn svg{
    position: relative;
    top: 11px;
    left: 5px;
    width: 35px;
    height: 30px;
    transition: all .3s ease;
}
.scroll-btm-btn:hover svg{
    left: 10px;
}
/* Footer */
footer{
    width: 100%;
    padding: 50px 0 0px;
    position: relative;
    font-size: .875em;
}
.container-normal {
    position: relative;
    padding: 0 15px;
    margin:0 103px ;
    display: block;
}
.row{
    --bs-gutter-x: 1.5rem;
        display: flex;
        flex-wrap: wrap;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.col-lg-3{
    width: 20%;
}
.f-text {
    padding-top: 5px;
    font-size: 14px;
    line-height: 26px;
    color: #1c2833;
    max-width: 250px;
}
.social-listing{
    margin: .5rem 0;
    list-style: none;
    position: relative;
    padding-right: 50px;
    display: flex;
}
.social-listing li a img{
    width: 40px;
    padding: 5px;
}
.fw-bold {
    font-weight: 700;
    padding-top: 5px;
    font-size: 14px;
}

.col-lg-9 {
    flex: 0 0 auto;
    position: relative;
    left: 50px;
    width: 75%;
}
.remove-list-style{
    list-style: none;
    display: block;
}
.f-links {
    margin-bottom: 30px;
    text-align: left;
}
.footer .f-links h4 {
    color: #1c2833;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
.f-links ul li a {
    color: #1c2833;
    font-size: 14px;
}
.f-links ul li {
    margin-top: 15px;
}
.col-6 {
    flex: 0 0 auto;
    width: 25%;
}
.f-links h4 {
    color: #1c2833;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
.mt-5{
    margin: 15px 0;
    padding: 0 7.5px;
}
.d-flex {
    display: flex;
}

.copyright p {
    font-size: 14px;
    color: #1c2833;
    font-weight: 400;
}
.ms-auto{
    position: absolute;
    right: 50px;
}


/* <<<<<<<<<<<  Media Queries >>>>>>>>>>>> */
  /* Response after 1392px */
@media (max-width: 1392px){
.logo a img {
    width: 150px;
}
nav{
    padding: 0 10px;
    justify-content: space-between;
}
.banner-center{
    padding: 0 30px;
}
.top-heading{
    font-size: 40px;
}
.award-image ul{
    flex-wrap: wrap ;
}
.award-image ul li{
    margin: 15px;
}
}
  /* Response after 952px */
@media (max-width:952px){
    .menus{
    display: none;
}
.col-lg-3 {
    width: 100%;
}

}
  /* Response after 768px */
@media only screen and (max-width: 768px) {
    
    .menus{
        display: none;
    }
    .banner-center{
        padding: 0 20px;
    }
    .top-heading{
        font-size: 26px;
    }
    .login-links ul li{
        padding-right: 5px;
    }
    .post-selection-btn{
        width: 180px;
        height: 25px;
        padding: 2px;
    }
    .post-selection-btn a{
        font-size: 12px;
    }
    .post-selection-btn a img{
        width: 10px;
    }
    .heading-h5 {
        font-size: 12px;
    }
    h3{
        font-size: 16px;
    }
    .customer-highlights > p {
        font-size:18px ;
    }
    .award-image ul li{
        margin: 8px;
    }
    table {
        display: none;
    }
    .scrolling-pics{
        padding: 60px 0;
    }
    .container-normal{
        margin: 0 50px;
        padding: 0 1px;
    }
    .f-text{
        max-width: 100%;
    }
    .col-lg-3{
        width: 100%;
    }
    .row{
        --bs-gutter-x: 1rem;
    display: block;
    }
    .col-6 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-lg-9{
        left: 0px;
        width: 100%;
    }
    .mt-5{
        padding: 0;
    }
    .ms-auto{
        position: relative;
        right: 0px;
        left: 30px;
    }
  }
  
  /* Response after 478px */
  @media (max-width: 478px){

    .top-heading{
        font-size: 18px;
    }

    .heading-h5 {
        font-size: 10px;
    }
    .award-image ul li img {
        width: 100px;
    }
    .award-image ul li{
        margin: 5px;
    }
    figure {
        width: 150px;
        height: 80px;
    }
    figure  img{
        width: 90px;
    }
    .d-flex{
        display: block;
    }
}
  /* Response after 282px */
@media (max-width: 282px){
    .login-links {
        display: none;
    }
    nav{
        justify-content: center;
    }
}